@model Green.Models.Prescription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentModel.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentModel.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dosage_Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dosage_Information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrescriptionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
