@model IEnumerable<Green.Models.LabPractitioner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LabPractitionerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LabPractitionerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LabPractitionerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LabPractitionerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LabPractitionerID })
        </td>
    </tr>
}

</table>
