@model Green.Models.Procedure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Procedure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProcedureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcedureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProcedurID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
