@model IEnumerable<Green.Models.Product>
@{
    ViewBag.Title = "Shopping";
}
<br/>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2 table-bordered" style="height:270px">
                <div class="row" style="text-align: center;padding-top:5px">
                    @if (item.Picture != null)
                {
                    var base64 = Convert.ToBase64String(item.Picture);
                    var img = string.Format("data:image/png;base64,{0}", base64);
                        <img src="@img" width="200" height="100" />
                    }
                </div>
                <div class="row">
                    <p style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Name)
                    </p>
                   
                    <p style="text-align: center;font-size:large;">
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                    <p style="text-align: center">
                        @if (item.QuantityInStock == 0)
                        {
                            <a href="@Url.Action(actionName: "AddToCart", controllerName: "ShoppingCart", routeValues: new { id = item.ProductID })" class="btn disabled btn-default"><i class="fa fa-shopping-cart disabled"></i> Out of stock</a>
                        }
                        else
                        {
                            <a href="@Url.Action(actionName: "AddToCart", controllerName: "ShoppingCart", routeValues: new { id = item.ProductID })" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        }
                    </p>
                </div>
            </div>
        }
    </div>
   
